body 
{
    margin: 0;
    padding: 0;
}
.calculator
{
width: 70%;
height: auto;
margin: 0;
margin-left: 15%;
}
.clc 
{
    width: 100%;
    height: auto;
    background-color: white;
    box-shadow: 0px 2px 0px 2px black;
    margin-top: 5%;

}

.clc input 
{
    width: 90%;
    height: auto;
    margin: 0;
    padding: 15px;
    border: none;
}

::placeholder 
{
    font-size: 25px;
    text-align: right;
}

#btn
{
    width: 234px;
    height: auto;
    margin: 0;
    padding: 8px;
    font-size: 20px;
    border: none;
}
#btn1
{
    width: 234px;
    height: auto;
    margin: 0;
    background-color: blue;
    color: white;
    padding: 8px;
    font-size: 20px;
    border: none;
}